.home-back{
    // background-color: #d8dbd3;
    height :500px;
    // background-image: image();
    background: linear-gradient(rgba(27, 27, 27, 0.522),rgba(0, 0, 0, 0.522)),url('../../Assets/woodland-8479979_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}
#join{
    height: 40px;
}