.navbar-user_home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #e4e5e7;   
    padding: 1rem;
    
  }
  .nav-icons{
    font-size: 30px;
    color: #e4e5e7;
  }
  .nav-icons:hover{
    color: rgb(139, 119, 94);
  }

  .navbar-logo {
    font-size: 1.5rem;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
  }
  
  .navbar-links li {
    margin-right: 1rem;
    cursor: pointer;
    padding-left: 25px;
    font-size: 20px;
  }
  
  .navbar-links li:hover {
    text-decoration: underline;
  }
 
  
  .profile-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
  }
  
  .profile-circle:hover .profile-image {
    transform: scale(1.1); /* Scale up the image on hover */
  }
#become-worker{
  background: none;
  border: 3px solid #e4e5e7;
  padding: 12px;
color: #e4e5e7;
  height: 30px;
  width: 120px;
  padding: 0;
  font-weight: 700;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#become-worker:hover{
    background-color: rgb(174, 170, 110);
    color: #e4e5e7;
    border: 3px solid rgb(174, 170, 110);

  }


@keyframes changeBackground {
    0% {
      background-image: url('../../Assets/yellow-back.png');
    }
    33% {
      background-image: url('../../Assets/green-back.png');
    }
    66% {
      background-image: url('../../Assets/yellow-back1.png');
    }
    100% {
      background-image: url('../../Assets/yellow-back.png');
    }
  }
  
  .photo-main {
    animation: changeBackground 25s infinite;
    -webkit-animation: changeBackground 25s infinite;
    height: 550px;
    background-size: cover;
}
.search-content{
  width: 60%;
  float: left;
  height:86%;
  background-color: transparent;
}
.skill{
  font-size: 35px;
  color: rgb(99, 126, 90);
}
#home-search{
  background-color: transparent;
  border: 2px solid rgb(99, 126, 90);
  height: 40px;
  width: 30%;
  font-size: 18px;
  border-radius: 10px;
  margin-left: 10%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: absolute;
  top: 49%;
  
}
#home-search:focus{
  background-color: #e4e5e7;
  border: 2px solid rgb(99, 126, 90);

}
.quote{
  margin-left: 10%;
  position: absolute;
  top: 30%;
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
// 
#search-icon{
  position: absolute;
  top: 50.5%;
  left: 37.5%;
  font-size: 23px;
  color: rgb(99, 126, 90);
  cursor: pointer;
}
.notification-panel {
  position: fixed;
  top: 45px; /* Adjust the top position according to your design */
  right: 20%; /* Adjust the right position according to your design */
  background-color: #fff; /* Background color for the panel */
  border: 1px solid #ccc; /* Border style */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle elevation effect */
  width: 400px; /* Adjust the maximum width according to your design */
  z-index: 1000;
  height: 100vh; /* Set a high z-index to ensure it's above other elements */
}

.notification-top {
  background-color: #3498db; /* Background color for the top/header of the panel */
  color: #fff; /* Text color for the top/header text */
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.notification-list {
  padding: 10px;
  background-color: #7c93c1;
  height: 100%;
  overflow-y: auto;
}
.threedots-notification{
  font-size: 20px;
  cursor: pointer;
}

.new-notification-dot {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px; /* Adjust the width of the dot */
  height: 10px; /* Adjust the height of the dot */
  background-color: rgb(119, 5, 5); /* Adjust the color of the dot */
  border-radius: 50%; /* Make it a circle */
}


.notification-dot {
  position: absolute;
  top: 5px; /* Adjust the top position to align the dot */
  right: 5px; /* Adjust the right position to align the dot */
  color: green; /* Adjust the color of the dot */
}
.nots{
  height: fit-content;
  width: 100%;
  // background-color: aqua;
  border-bottom: 2px solid brown;
  margin-bottom: 10px;
  cursor: pointer;
}