// // ChatComponent.scss
@mixin mobile{
  @media screen and (max-width:100px) {
    @content;
  }
}

// @mixin tablet{
//   @media screen and (max-width:700px) {
// @content;
//   }
// }
.large-section {
    top: 2%;
    position: absolute;
    width: 94%;
    left: 3%;
    height: 98%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
  //   @include tablet(){
  //     display: none;
  //   }
  }
  
  .left-list {
    background-color: #f0f0f0;
    width: 30%;
    border-top-left-radius: 10px;
    border-right: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto; /* Enable vertical scroll if needed */
  }
  
  .search-chat {
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #e1e1e1;
    border-radius: 10px;
  }
  
  #chat-icon-search {
    font-size: 20px;
    color: #555;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .search-chat-input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
  }
  
  .chat-list {
    margin-top: 15px;
  }
  
  .chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  border-top: 2px solid #8a7c7c;

    .profile-circle-left {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 10px;
  
      .profile-image-chat {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  
    .chat-info {
      flex-grow: 1;
  
      .chat-name {
        font-size: 18px;
        font-weight: bold;
        color: #333;
      }
    }
  }
  
  .right-list {
    background-color: #f5f5f5;
    width: 70%;
    border-top-right-radius: 10px;
    // padding: 2px;
    // overflow-y: ; /* Enable vertical scroll if needed */
    box-sizing: border-box; /* Include padding and border in the total height */
  
    .top-contact {
      display: flex;
      align-items: center;
      padding: 5px;
      background-color: #ddd;
      border-top-right-radius: 10px;
  
      .profile-chat-contact {
        width: 45px;
        height: 45px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  
    .chat-message-display {
      height: 78%;
      overflow-y: auto; /* Enable vertical scroll if needed */
    //   padding: 15px;
      background-color: #fff;
      border-radius: 10px;
    //   margin-top: 15px;
    margin: 5px;
    }
  
    .chat-message-send {
      display: flex;
      align-items: center;
      margin-top: 5px;
  
      .chat-message-text {
        flex-grow: 1;
        background-color: #bcadad;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 8px;
        margin-left: 15px;
  
        #input-in-message {
          flex-grow: 1;
          background: transparent;
          font-size: 15px;
          border: none;
          outline: none;
          margin-left: 8px;
        }
  
        #icon-in-message {
          font-size: 25px;
          margin-right: 8px;
        }
       
       }
  
      #chat-send-icon {
        color: #fff;
        font-size: 25px;
        background-color: #4caf50;
        padding: 10px;
        margin: 5px;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #45a049;
        }
      }
    }
  }
  .chat-date-display{
  width: 80px;
  background-color: #a6c2a7;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  border-radius:5px ;
  -webkit-border-radius:5px ;
  -moz-border-radius:5px ;
  -ms-border-radius:5px ;
  -o-border-radius:5px ;

}
.chat-message-recieve{
  display: flex;
  margin: 10px;
}
.profile-chat-message-recieve{
   width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.chat-message-box-recieve{
  background-color: aqua;
  max-width: 50%;
  padding: 7px;
  border-radius:0px 10px 10px 10px ;
  -webkit-border-radius:0px 10px 10px 10px ;
  -moz-border-radius:0px 10px 10px 10px ;
  -ms-border-radius:0px 10px 10px 10px ;
  -o-border-radius:0px 10px 10px 10px ;
}
.chat-message-box-send{
  background-color: rgb(43, 175, 41);
  max-width: 50%;
  padding: 7px;
  float: right;
  border-radius:10px 0px 10px 10px ;
  -webkit-border-radius:10px 0px 10px 10px ;
  -moz-border-radius:10px 0px 10px 10px ;
  -ms-border-radius:10px 0px 10px 10px ;
  -o-border-radius:10px 0px 10px 10px ;
  height: min-content;
  margin-right: 20px;
  margin-top: 20px;
}
.onlythischat{
  background-color: #bcadad;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 20px;
  color: #555;
}